.heading {
    font-size: 2rem;
    color: #ffd301;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.App {
    background-color: #333;
    padding-bottom: 50px;
}
